/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #412567;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-container {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
}

.logo span {
  background: linear-gradient(90deg, #f017b2, #7f5cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Menu */
.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu a {
  text-decoration: none;
  color: #cfcfcf;
  font-size: 15px;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #ffffff;
}

/* Button */
.nav-btn {
  padding: 10px 22px;
  border-radius: 20px;
  background: linear-gradient(90deg, #ffb800, #ff3d9a, #7f5cff);
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: transform 0.3s;
}

.nav-btn:hover {
  transform: scale(1.05);
}

.hero{    
    text-align: center;
    padding: 60px 20px;
    background: url('./assets/hero-bg.png') no-repeat center center/cover;    
}

.hero-container{
    position: relative;   
    display: inline-block;   
    gap: -20px;
}

.hero-circle{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-bottom: 40px;
}


.mic-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
}

.badge{
    position: absolute;
    top: 20px;
    right: 20px;
    background: #22c55e;
    font-size: 12px;
    padding: 4px 12px;
    border-radius: 20px;
}
.text h1{
    font-size: 3rem;    
    margin-bottom: 10px;
    color: #ffffff;
}

.text p{
    color: #aaa;
    margin-bottom: 30px;
}

.hero-btns{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn1{
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn2{
    background: transparent;
    border: 1px solid #22c55e;
    color: #22c55e;
    padding: 12px 25px;
    border-radius: 50px;
    cursor: pointer;
}


.about{
    padding: 100px 20px;
    background: #2a144a;
}

.about-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    text-align: center;
}

.stats{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 150px;
}

.stat h2{
    font-size: 30px;
    color: #00FF88;
}

.stat p{
    font-size: 10px;    
    color: #aaa;
    margin-top: 6px;
   
}

.about-text h2{
    font-size: 35px;
    color: #fff;
    margin-bottom: 20px;
}

.about-text p{
    color: #cfcfcf;
    line-height: 1.5;
    max-width: 670px;
}