/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #412567;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-container {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
}

.logo span {
  background: linear-gradient(90deg, #f017b2, #7f5cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Menu */
.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu a {
  text-decoration: none;
  color: #cfcfcf;
  font-size: 15px;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #ffffff;
}

/* Button */
.nav-btn {
  padding: 10px 22px;
  border-radius: 20px;
  background: linear-gradient(90deg, #ffb800, #ff3d9a, #7f5cff);
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: transform 0.3s;
}

.nav-btn:hover {
  transform: scale(1.05);
}